
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /><ul class="list-inline rating-list">
  <li><i class="fa fa-star gray" id="star1"></i></li>
  <li><i class="fa fa-star gray" id="star2"></i></li>
  <li><i class="fa fa-star gray" id="star3"></i></li>
  <li><i class="fa fa-star gray" id="star4"></i></li>
  <li><i class="fa fa-star gray" id="star5"></i></li>
</ul>
<script src="../../public/stars.js"></script> 