<form action="/login" method="post">
    <div class="login-container">
        <div class="login-item">
            <h3>Login</h3>
        </div>
        <div class="login-item">
            <label>Enter username or email:</label>
            <input type="text" name="username" value="{{username}}" required />
            <br />
        </div>
        <div class="login-item">
            <label>Password:</label>
            <input type="password" name="password" required />
        </div>
        <div class="login-item">
            <input class="button primary" type="submit" value="Submit" required />
        </div>
        <label id="error-message"></label>

        <p>{{error}}</p>
        
        <div class="login-item">
        <a href="/creatUser">Create a new User</a>
    </div>
    </div>
</form>
  
